<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="{{ meta.metaDescription }}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/assets/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon-57.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/favicon-57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon-114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon-120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon-144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon-152.png">
  <meta name="application-name" content="RecruiterReport">
  <meta name="msapplication-TileImage" content="/assets/favicon-144.png">
  <meta name="msapplication-TileColor" content="#2A2A2A">
  <title>{{ title }}{% if page.url != '/' %} | {{ meta.siteName }}{% endif %}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link href="{{'/css/slim-10_7_dtp.css'}}" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  </style>
</head>
<body>
  {% include "nav.njk" %}

  {{ content | safe }}

  <footer>
    <div>
      <p>&copy; {% year %} {{ meta.siteName }}{% if meta.authorName %} • {{ meta.authorName }}{% endif %} <a href="/privacy/">Privacy Policy</a></p>
    </div>
  </footer>
  <!-- Google tag (gtag.js) -->
  <script async src="/js/gtag.js?id=G-XE22M934SW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-XE22M934SW');
  </script>
</body>
</html>