/* Layout */

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding: 0; /*5vh clamp(1rem, 5vw, 3rem) 1rem;*/
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  /* background-color: var(--offwhite); */
  background: linear-gradient(322deg, #ba4aff, rgba(#ba4aff, 0) 70%),
    linear-gradient(178deg, #008aff, rgba(#008aff, 0) 70%), linear-gradient(24deg, #00ffc6, rgba(#00ffc6, 0) 35%);
  color: var(--black);
}

body > *,
.hr-top-bar__content {
  --layout-spacing: max(8vh, 3rem);
  --max-width: 1128px; /*70ch;*/
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
}

/*
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -1rem;
  margin-right: -1rem;
}

nav ul li {
  padding: 0.5rem 1rem;
}
*/
nav [aria-current="page"] {
  font-weight: bold;
}

/* header, */
/* main,
main > * + * {
  margin-top: var(--layout-spacing);
} */

/* header > h1 {
  background: url("/assets/hirerank_logo-300px.png");
  background-repeat: no-repeat;
  background-size: 300px 46px;
  text-indent: -3000px;
  width: 300px;
  height: 46px;
  margin-left: -7px;
} */

div.main-content {
  background-color: var(--white75);
  border-radius: 0 0 1rem 1rem;
  padding: 2rem 2rem 0 2rem;
  position: relative;
  margin-top: calc(5rem + 1px);
}

.hr-top-bar {
  /*overflow: hidden;*/
  background-color: var(--lt-base);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
  overflow: visible;
  padding: 0 var(--spacing-three-x);
}

.hr-top-bar__content {
  /* align-items: center;
    display: flex; */
  /* min-height: 100%; */
  /* width: 1128px;
    margin: 0px auto; */
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: min-content auto max-content;
  gap: 2rem;

  @media (max-width: 600px) {
    grid-template-columns: none;
    grid-template-rows: min-content auto;
    height: 6rem;

    .hr-top-notification {
      display: none;
    }
    nav {
      position: relative;
      top: -6.5rem;
      font-size: larger;
    }
  }
  /* grid-auto-rows: minmax(100px, auto); */
  .hr-top-bar__heading {
    text-indent: -3000px;
    background-image: url(https://hirerank.cc/assets/hirerank_logo-300px.png);
    width: 200px;
    height: 5rem;
    line-height: 5rem;
    @media (max-width: 600px) {
      width: 300px;
      height: 6rem;
      line-height: 6rem;
    }
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center; /*calc(2.5rem - 15px) center;*/
    margin: 0 0 0 0.5rem; /* 0 0 calc(-2.5rem + 15px);*/

    padding: 0px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 1rem 0 0;
    flex: 1 1 0%;

    ul {
      list-style-type: none;
      display: flex;
      margin: 0px;
      padding: 0px;
      /* overflow: hidden; */
    }

    a {
      background-color: var(--offwhite);
      color: var(--dk-base);
      text-align: center;
      padding: 1rem 1.6rem;
      text-decoration: none;
    }
    a.cta {
      color: var(--offwhite);
      font-weight: bold;
      background-color: var(--accent);
    }
    a:hover {
      color: var(--offwhite);
      background-color: var(--dk-base);
    }
    a.cta:hover {
      background-color: var(--dk-base);
    }
  }
}

.hr-top-bar p,
.hr-top-bar span {
  float: left;
  display: block;
  color: var(--dk-base);
  text-align: center;
  font-size: 17px;
  padding: 12px 16px;
  text-decoration: none;
}

.hr-top-bar__content > a {
  /* float: left; */
  display: block;
  text-decoration: none;
}

.hr-top-bar a:hover {
  background: var(--md-gray);
  color: var(--black);
}

/* Content */
article * + * {
  margin-top: 1em;
}

article img {
  display: block;
  width: 100%;
  min-height: 20rem;
  max-height: 40vh;
  object-fit: cover;
  margin: 2rem auto;
}

/* Supporting Content */

code:not([class*="language"]) {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1.75ex;
  color: #444;
  background-color: var(--10);
  padding-right: 0.15em;
  padding-left: 0.15em;
}

blockquote {
  margin: 2rem 0;
  padding: 0.5em 1rem;
  border-left: 3px solid var(--35);
  background-color: var(--05);
  border-radius: 0 0.25rem 0.25rem 0;
  h2 {
    font-size: 2rem;
  }
}

div.em {
  background-color: var(--white50);
  border: 2px solid var(--lt-base);
  border-top-width: 1px;
  border-bottom-width: 3px;
  border-radius: 1rem;
}

.hr-landing-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-auto-rows: minmax(100px, auto);
  @media (max-width: 600px) {
    grid-template-columns: auto;
    > div {
      grid-column: auto !important;
      grid-row: auto !important;
    }
  }
  > div {
    margin-top: 2rem;
  }

  #hero {
    grid-column: 1 / 3;
    grid-row: 1;
    margin-top: 0;
  }

  /* The hero image */
  .hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), var(--50)), url("/assets/hero-background.jpg");
    border-radius: 1rem;
    /* Set a specific height */
    height: 30rem;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: var(--white);
    width: 95%;
    text-shadow: 0 0 8px var(--black);
  }

  .hero-text h1 {
    font-size: 3rem;
    text-align: left;
  }

  #hero-term {
    font-family: "Indie Flower", cursive;
    font-weight: bold;
    text-decoration: underline var(--white);
    line-height: 2rem;
    font-size: 120%;
  }
}

#get-extension {
  grid-column: 3 / 4;
  grid-row: 1;
  padding: 1rem !important;
  margin-top: 0;
  margin-left: 0;
  h2 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  a {
    background-color: var(--white);
  }
  ol {
    padding-inline-start: 2rem;
    li {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
}

.chrome-store-button {
  display: block;
  text-indent: -3000px;
  background-color: var(--white);
  background-image: url("/assets/chrome-store-small.png");
  /* border: 3px solid var(--lt-base); */
  border: 2px solid var(--accent);
  transition: all 0.23s ease-in-out 0s;
  border-radius: 4px;
  height: 65px;
  width: 210px;
  margin: 2rem 0 0;
  @media (max-width: 600px) {
    margin: 2rem auto;
  }
}
.chrome-store-button:hover {
  border: 2px solid var(--dk-base);
  background-image: linear-gradient(hsla(0, 0%, 100%, 0) 80%, var(--10)), url("/assets/chrome-store-small.png");
}

/* Footer */

body > footer {
  margin-top: auto;
  padding-top: var(--layout-spacing);
}

body > footer div {
  background-color: var(--white75);
  border-radius: 1rem 1rem 0 0;
  border-top: 1px solid var(--md-gray);
  padding: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.4rem;
  color: var(--dk-gray);
}
body > footer ul {
  list-style: none;
  float: right;
}
body > footer li {
  display: inline-block;
  margin-left: 0.25em;
}
body > footer li > a.icon {
  /* --logo: attr(data-text); */
  display: inline-block;

  height: 24px;
  width: 24px;

  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.75;
  text-indent: -3000px;
  /* background-color: rgba(200,100,0,.5);
  /* background-size: contain; */
}
body > footer li > a.icon:hover {
  opacity: 1;
}
body > footer li > a.angellist {
  background-image: url("/assets/icons/angellist.svg");
}

body > footer li > a.crunchbase {
  background-image: url("/assets/icons/crunchbase.svg");
}

body > footer li > a.linkedin {
  background-image: url("/assets/icons/linkedin.svg");
}

body > footer li > a.twitter {
  background-image: url("/assets/icons/twitter.svg");
}

body > footer li > a.facebook {
  background-image: url("/assets/icons/facebook.svg");
}

body > footer li > a.coffee {
  background-image: url("/assets/icons/buymeacoffee.svg");
}
