/* Typography */
@font-face {
  font-family: "Indie Flower";
  font-weight: 400;
  src: url('../assets/fonts/IndieFlower-Regular.ttf') format('truetype');
}

/* Typography */
:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h1, h2) {
  max-width: 40ch;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

a {
  color: var(--dk-base);
  text-underline-offset: 0.08em;
}

a:hover {
  color: var(--med-base);
}

a:focus {
  color: var(--med-base);
  outline: 1px solid currentColor;
  outline-offset: 0.2em;
}